body {
  background-color: gray;
}

table {
  margin: 0 auto;
  width: 90%;
}

tr {
  text-align: center;
  background: ghostwhite;
}

h1 {
  text-align: center;
}

thead {
  height: 60px;
}

.table_title {
  font-size: 30px;
  font-weight: 700;
}

td {
  font-size: 18px;
  height: 30px;
  font-weight: 600;
}

.abbreviation {
  width: 10vw;
}

.name__currency {
  width: 40vw;
}
